<a href="https://colab.research.google.com/github/shiyuhu1933/re-datascrap-project/blob/main/Information_Extraction_and_Data_Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Information Extraction Project#
#####After get the information from website and transfer them into result.txt file, here is how to extract certain information from text file.
######target information:

######--------------by Shiyu Hu
*block and lot info*

*attorney info*

*foreclosure address info*

#Prepare data

In [116]:
# Import library
import spacy
import pandas as pd
from spacy.matcher import Matcher

In [117]:
# Open the text from cloud drive. If you store it at local drive, remember to change the open path
with open("/content/drive/MyDrive/TextExtraction/result.txt", "r") as f:
    text = str(f.read())

In [118]:
# Loading model for tokennization
nlp = spacy.load("en_core_web_sm")

#1.Get the RAW information of BLOCK

In [124]:
# Get the BLOCK_INFO
matcher = Matcher(nlp.vocab)
# Build the pattern to extract block information
pattern = [{"LOWER": "block", "OP": "+"},
           {"POS" : "PUNCT", "OP" : "?"},
           {"POS" : "SPACE", "OP" : "?"},
           {"POS" : "NUM", "OP" : "+"}]
matcher.add("PROPER_NOUNS", [pattern])
doc = nlp(str(text))
matches = matcher(doc)
print (len(matches))

Block_list = []
Block_string = ""
for match in matches:
  print(str((doc[match[1]:match[2]])))
  block_string = str((doc[match[1]:match[2]]))
  Block_list += [block_string]
print(Block_list)
df_1 = pd.DataFrame(Block_list, columns=['BLOCK_INFO'])
df_1.head(len(df_1))

19
Block 4415
Block 4112
Block 3921
Block 8054
Block 3228
Block 3403
Block: 6579
BLOCK 1468
Block 3554
Block: 1615
Block
5146
Block 2072
Block: 4001
Block 3999
Block 803
Block: 8238
Block: 4754
Block 8166
Block 8017
['Block 4415', 'Block 4112', 'Block 3921', 'Block 8054', 'Block 3228', 'Block 3403', 'Block: 6579', 'BLOCK 1468', 'Block 3554', 'Block: 1615', 'Block\n5146', 'Block 2072', 'Block: 4001', 'Block 3999', 'Block 803', 'Block: 8238', 'Block: 4754', 'Block 8166', 'Block 8017']

     BLOCK_INFO
0    Block 4415
1    Block 4112
2    Block 3921
3    Block 8054
4    Block 3228
5    Block 3403
6   Block: 6579
7    BLOCK 1468
8    Block 3554
9   Block: 1615
10  Block\n5146
11   Block 2072
12  Block: 4001
13   Block 3999
14    Block 803
15  Block: 8238
16  Block: 4754
17   Block 8166
18   Block 8017

#2.Get the RAW information of LOT

In [127]:
#Get the LOT_INFO
matcher = Matcher(nlp.vocab)
# Build the pattern to extract lot information
pattern_Lot = [{"LOWER": "lot", "OP": "+"},
           {"POS" : "PUNCT", "OP" : "?"},
           {"POS" : "SPACE", "OP" : "?"},
           {"POS" : "NUM", "OP" : "+"}]
matcher.add("PROPER_NOUNS", [pattern_Lot])
doc = nlp(str(text))
matches = matcher(doc)
print (len(matches))

Lot_list = []
Lot_string = ""
for match in matches:
  print(str((doc[match[1]:match[2]])))
  Lot_string = str((doc[match[1]:match[2]]))
  Lot_list += [Lot_string]

print(Lot_list)
df_2 = pd.DataFrame(Lot_list, columns=['Lot_INFO'])
df_2.head(len(df_2))

19
Lot 1463
Lot 92
Lot 2
Lot 51
Lot 30
Lot 16
Lot: 54
LOT 31
Lot 38
Lot: 24
Lot 26‘on
Lot 27
Lot: 27
Lot 9
Lot 9
Lot: 35
Lot: 4
Lot 38
Lot 73
['Lot 1463', 'Lot 92', 'Lot 2', 'Lot 51', 'Lot 30', 'Lot 16', 'Lot: 54', 'LOT 31', 'Lot 38', 'Lot: 24', 'Lot 26‘on', 'Lot 27', 'Lot: 27', 'Lot 9', 'Lot 9', 'Lot: 35', 'Lot: 4', 'Lot 38', 'Lot 73']

     Lot_INFO
0    Lot 1463
1      Lot 92
2       Lot 2
3      Lot 51
4      Lot 30
5      Lot 16
6     Lot: 54
7      LOT 31
8      Lot 38
9     Lot: 24
10  Lot 26‘on
11     Lot 27
12    Lot: 27
13      Lot 9
14      Lot 9
15    Lot: 35
16     Lot: 4
17     Lot 38
18     Lot 73

#3.Get the RAW information of Attorney

In [129]:
#Get Attorney_INFO
text = str(text)
nlp = spacy.load("en_core_web_sm")

phrase_matcher = PhraseMatcher(nlp.vocab)
phrases = ["Attorney", "Attorneys", "Attorney(s)", "Gross Polowy"]
patterns = [nlp(text) for text in phrases]
phrase_matcher.add('AI', None, *patterns)

doc = nlp(text)
Attorney_list = []
for sent in doc.sents:
    for match_id, start, end in phrase_matcher(nlp(sent.text)):
        if nlp.vocab.strings[match_id] in ["AI"]:
          Attorney_list += [sent.text]
        
print(Attorney_list)
df_3 = pd.DataFrame(Attorney_list, columns=['Attorney_INFO'])
df_3.head(len(df_3))

['NO. 78 RECEIVED NYSCEF: 10/19/2022\nNOTICE OF SALE SUPREME COURT KINGS COUNTY\nSTATE OF NEW YORK MORTGAGE AGENCY, Plaintiff against\nCHARLOTTE ARMSTRONG, et al Defendant(s)\nAttorney for Plaintiff(s) Schiller, Knapp, Lefkowitz & Hertzel, LLP, 15 Cornell Road,\nLatham, NY 12110.\n', 'Mark A. Longo, Esq., Referee\nKnuckles, Komosinski & Manfro, LLP, 565 Taxter Road, Suite 590, Elmsford, NY 10523, Attorneys\nfor Plaintiff\n1 of 1\nFILED: KINGS COUNTY CLERK 00/13/2022 11:54 AM INDEX NO.', 'Michael Benjamin, Esq., Referee\nCapell, Barnett, Mataion & Schoenfeld, LLP, 1385 Broadway, New York, NY 10018,\nAttorneys for Plaintiff\n~ .\n', 'Vallely Law PLLC, 6851 Jericho Turnpike, Suite 105, Syosset, New York 11791, Attorneys for\nPlaintiff\n1of 1\nNOTICE OF SALE\n\nSUPREME COURT COUNTY OF KINGS, NYCTL 1998-2 TRUST AND THE BANK OF NEW YORK\n\nMELLON', 'Harvey Greenberg, Esq., Referee\n\nThe Law Office of Thomas P. Malone, PLLC, 60 East 42nd Street, Suite 553, New York, New\n\nYork 10165, Attorneys for Plaintiff\nFILED: KINGS COUNTY CLERK 0 ml{m INDEX NO. 501394/2014\nNYSCEF DOC.', 'Dominic J. Famulari, Esq., Referee\nFriedman Vartolo LLP, 85 Broad Street, Suite 501, New York, New York 10004, Attorneys for\nPlaintiff.', 'Dominic Famulari, Esq., Referee\nLOGS Legal Group LLP f/k/a Shapiro, DiCaro & Barak, LLC\nAttorney(s) for the Plaintiff\n175 Mile Crossing Boulevard\nRochester, New York 14624\n(877) 430-4792\nDated: July 20, 2022\n\n1 of 1\nP\nNOTICE OF SALE\n\nSUPREME COURT COUNTY OF KINGS\n\nU.S. BANK NATIONAL ASSOCIATION, AS TRUSTEE FOR THE STRUCTURED ASSET\nINVESTMENT LOAN TRUST, 2006-BNC2, Plaintiff\n\nAGAINST\n\nPATRICK O. SOYEMI AKA PATRICK', 'Benjamin O. Okeke, Esq., Referee\n\nGross Polowy, LLC\n\n1775 Wehrle Drive\n\nWilliamsville, NY 14221 K.6.5.6.', 'Joel Abramson, Esq., Referee\n\nLOGS Legal Group LLP f/k/a Shapiro, DiCaro & Barak, LLC\n\nAttorney(s) for the Plaintiff\n\n175 Mile Crossing Boulevard\n\nRochester, New York 14624\n\n(877) 430-4792\n\nDated: April 28, 2022\n\n1of1\nTNDEX NO.', 'Helene Blank, Esq., Referee\nLOGS Legal Group LLP f/k/a Shapiro, DiCaro & Barak, LLC\nAttorney(s) for the Plaintiff\n175 Mile Crossing Boulevard\nRochester, New York 14624\n(877) 430-4792\nDated: July 19,2022 )\n', '»\nDOMINIC FAMULARI, ESQ,, Referee\nPhillips Lytle LLP\nAttorney(s) for Plaintiffs\n.', 'James Caffrey, Esq., Referee\nGlenn Rodney, PC, 368 Birch Road, Wallkill, New York 12589, Attorneys for Plaintiff\n- e\ne\nSUPREMI COURT - COUNTY OF KINGS\nWATERFALL VICTORIA GRANTOR TRUST 11, SERIES G, Plaintiff -against- VICTOR ROMAIN, ct al\nDefendant(s).', "|\nBRUNO CODISPOTI, ESQ., Referee\nKosterich & Skeete, LLC\nAttorney(s) for Plaintifl\n707 Westchester Ave, Suite 302, White Plains, NY 10604\n{* BKLYN DLY*} I\nl\n.\nATTEND' & CALENDAR 22 é)\nA % 5\nSN\nkL)\n", 'Gregory T. Cerchione, Esq., Referee\nThe Law Office of Thomas P. Malone, PLLC, 60 East 42nd Street, Suite 553, New York, New\nYork 10165, Attorneys for Plaintiff\nTNDEX NO.', 'Index Number 6629/2005,\nMARK LONGO ESQ., Referee\nPhillips Lytle LLP\nAttorneys for Plaintiffs\n28 East Main Street, Suite 1400, Rochester, NY 14614\n', 'RICHARD KLASS, ESQ., Referee .\nKosterich & Skeete, LLC\nAttorney(s) for Plaintiff 1\n707 Westchester Ave, Suite 302, White Plains, NY 10604 1\nATTEND & CALENDAR™ ™" 50 Q% !\n', "Brettanie L. Hart Saxton\nWoods Oviatt Gilman LLP\nPlaintiff's Attorney :\n500 Bausch & Lomb Place\nRochester, NY 14604\nTel.:", "AS TRUSTEE FOR VELOCITY COMMERCIAL\nCAPITAL LOAN TRUST 2016-1, Plaintiff against A\nBIG TRADE, INC., et al Defendant(s) '\nAttorney for Plaintiff(s) Schiller, Knapp, Lefkowitz & Hertzel, LLP, 200 John James\nAudubon Parkway, Suite 202, Amherst, NY 14228,\nPursuant to a Judgment of Foreclosure and Sale entered January 3, 2018, and\nAmended on February 3, 2022 | will sell at public auction to the highest bidder at steps\nof the Kings County Supreme Court, 360 Adams Street, Brooklyn, NY 11201 on\nNovember 17, 2022 at 12:10 PM.", 'COVID-19 safety protocols will be\nfollowed at the foreclosure sale\nDominic Famulari, Esq., Referee\nVallely Law PLLC, 6851 Jericho Turnpike, Suite 105, Syosset, New York 11791, Attorneys for\nPlaintiff\n1of']

                                        Attorney_INFO
0   NO. 78 RECEIVED NYSCEF: 10/19/2022\nNOTICE OF ...
1   Mark A. Longo, Esq., Referee\nKnuckles, Komosi...
2   Michael Benjamin, Esq., Referee\nCapell, Barne...
3   Vallely Law PLLC, 6851 Jericho Turnpike, Suite...
4   Harvey Greenberg, Esq., Referee\n\nThe Law Off...
5   Dominic J. Famulari, Esq., Referee\nFriedman V...
6   Dominic Famulari, Esq., Referee\nLOGS Legal Gr...
7   Benjamin O. Okeke, Esq., Referee\n\nGross Polo...
8   Joel Abramson, Esq., Referee\n\nLOGS Legal Gro...
9   Helene Blank, Esq., Referee\nLOGS Legal Group ...
10  »\nDOMINIC FAMULARI, ESQ,, Referee\nPhillips L...
11  James Caffrey, Esq., Referee\nGlenn Rodney, PC...
12  |\nBRUNO CODISPOTI, ESQ., Referee\nKosterich &...
13  Gregory T. Cerchione, Esq., Referee\nThe Law O...
14  Index Number 6629/2005,\nMARK LONGO ESQ., Refe...
15  RICHARD KLASS, ESQ., Referee .\nKosterich & Sk...
16  Brettanie L. Hart Saxton\nWoods Oviatt Gilman ...
17  AS TRUSTEE FOR VELOCITY COMMERCIAL\nCAPITAL LO...
18  COVID-19 safety protocols will be\nfollowed at...

# 4.Get the RAW information of Foreclosure address

In [158]:
#Get raw Foreclosure INFO
import spacy
from spacy.matcher import PhraseMatcher

text = str(text)
nlp = spacy.load("en_core_web_sm")
pattern_1 = "known as"
pattern_2 = "the premises described as follows:"
phrase_matcher = PhraseMatcher(nlp.vocab)
#phrases = ["known"]
phrases = [pattern_1, pattern_2]
patterns = [nlp(text) for text in phrases]
phrase_matcher.add('AI', None, *patterns)

doc = nlp(text)
Foreclosure_list = []
for sent in doc.sents:
    for match_id, start, end in phrase_matcher(nlp(sent.text)):
        if nlp.vocab.strings[match_id] in ["AI"]:
          Foreclosure_list += [sent.text]
        
print(Foreclosure_list)
df_4 = pd.DataFrame(Foreclosure_list, columns=['Foreclosure_property_address_RAW'])
df_4.head(len(df_4))

['Premises\nknown as 1019 Van Siclen Avenue Unit 9 7L, Brooklyn, NY 11207.', 'known as 102 Eldert Lane, Brooklyn, NY 11207.', 'November 17, 2022 at 11:25 a.m., premises known as 105-107 Barbey Street, Brooklyn, NY\n11207.', 'Pursuant to a Judgment of Foreclosure and Sale duly entered on October 8, 2019, |, the\nundersigned Referee will sell at public auction at the Kings County Supreme Court, on steps outside,\n360 Adams Street, Brooklyn, NY on November 17, 2022 at 10:50 a.m., premises known as 1122\nEast 89th Street, Brooklyn, NY 11236.', 'thereon erected, situate, lying and being in the Borough of Brooklyn, County of Kings, City and\n\nState of New York, Block 3228 and Lot 30.\n\nSaid premises may also be known as 1299 Myrtle Avenue, Brooklyn, NY.\n\n', 'Pursuant to an Order Confirming Referee Report and Judgment of Foreclosure and Sale duly entered\non June 7, 2019, and an Order Extending Sale Deadline and Other Relief duly entered on March\n14, 2022, 1, the undersigned Referee will sell at public auction outside on the courthouse steps of\nthe Kings County Supreme Court, 360 Adams Street, Brooklyn, NY on November 17, 2022 at 10:40\na.m., premises known as 134 Weirfield Street, Byooklyn, NY 11224.', 'NO. 6 RECEIVED NYSCEF: 10/13/2022\nNOTICE OF SALE\n\nSUPREME COURT COUNTY OF KINGS\nBank of America, National Association, Plaintiff\nAGAINST\nEddie Oliveras; et al., Defendant(s)\nPursuant to a Judgment of Foreclosure and Sale duly entered March 11, 2022 I, the undersigned\nReferee will sell at public auction at the steps of the Kings County Supreme Court, 360 Adams\nStreet, Brooklyn, NY 11201 on November 17, 2022 at 10:55AM, premises known as 1397 West\n6th Street, Brooklyn, NY 11204.', 'SOYEM], et al., Defendant(s)\n\nPursuant to a Judgment of Foreclosure and Sale duly entered August 1, 2016, I, the undersigned\nReferee will sell at public auction at the Kings County Supreme Court, Outside on courthouse\nsteps on Adams Street, 360 Adams Street, Brooklyn, New York 11201 on November 17, 2022 at\n11:15AM, premises known as 1551 EASTERN PARKWAY A/K/A 1551 EASTERN PARKWAY\nEXTENSION, BROOKLYN, NY 11233.', 'NO. 120 RECEIVED NYSCEF: 10/17/2022\nNOTICE OF SALE\n\nSUPREME COURT COUNTY OF KINGS\nPNC Bank, National Association, Plaintiff\n\nAGAINST\n\nFritz Edwards a/k/a Fritz L. Edwards; et al., Defendant(s)\n\nPursuant to a Judgment of Foreclosure and Sale duly dated February 8, 2019, 1, the undersigned\nReferee will sell at public auction at the steps of the Kings County Supreme Court, 360 Adams\nStreet, Brooklyn, NY 11201 on November 17,2022, at 11:10AM, premises known as 2044 Strauss\nStreet, Brooklyn, NY 11212.', 'NO. 8 RECEIVED NYSCEF: 10/13/2022\nNOTICE OF SALE\n\nSUPREME COURT COUNTY OF KINGS\nJPMorgan Chase Bank, National Association, Plaintiff\nAGAINST\nIfeyinwa Ifemesia; et al., Defendant(s)\nPursuant to a Judgment of Foreclosure and Sale duly entered May 13, 2019 I, the undersigned\nReferee will sell at public auction at the steps of the Kings County Supreme Court, 360 Adams\nStreet, Brooklyn, NY 11201 on November 17, 2022 at 11:45AM, premises known as 300 Van\nBuren Street, Brooklyn, NY 11221.', 'Said premises known as 314 EAST 16TH STREET, BROOKLYN,', 'Pursuant to a Judgment of Foreclosure and Sale duly entered on September 28, 2020, |, the\nundersigned Referee will sell at public auction at the Kings County Supreme Court, courthouse\nsteps, 360 Adams Street, Brooklyn, NY on November 17, 2022 at 11:30 a.m., premises known as\n332 Myrtle Avenue, Brooklyn, NY 11205.', 'Said premises known as 372 ELTON STREET, BROOKLYN, NY !\n', 'Said premises may also be known as 385 Warwick\nStreet, Brooklyn, NY.', 'Said premises known as 5200 1ST', 'Said premises known as 9202 AVENUE K, BROOKLYN, NY\nApproximate amount of lien $481,547.22 plus interest & costs.\n', 'the Referee named in said\nJudgment, will sell in one parcel at public auction on November 17, 2022 at The Kings County\nSupreme Court, 360 Adams Street, Brooklyn, NY at 11:35 AM, County of Kings, State of New\nYork, the premises described as follows:\n9417 Avenue B\nBrooklyn, NY 11236\nSBL No.:', 'Premises known as 9716 Farragut Road, Brooklyn,\nNY 11236.', 'Pursuant to a Judgment of Foreclosure and Sale duly entered on March 22, 2022, |, the\nundersigned Referee will sell at public auction on the outside on the courthouse steps of the Kings\nCounty Supreme Court, 360 Adams Street, Brooklyn, NY on November 17, 2022 at 12:00 p.m.,\npremises known as 978 East 81st Street, Brooklyn, NY 11236.']

                     Foreclosure_property_address_RAW
0   Premises\nknown as 1019 Van Siclen Avenue Unit...
1       known as 102 Eldert Lane, Brooklyn, NY 11207.
2   November 17, 2022 at 11:25 a.m., premises know...
3   Pursuant to a Judgment of Foreclosure and Sale...
4   thereon erected, situate, lying and being in t...
5   Pursuant to an Order Confirming Referee Report...
6   NO. 6 RECEIVED NYSCEF: 10/13/2022\nNOTICE OF S...
7   SOYEM], et al., Defendant(s)\n\nPursuant to a ...
8   NO. 120 RECEIVED NYSCEF: 10/17/2022\nNOTICE OF...
9   NO. 8 RECEIVED NYSCEF: 10/13/2022\nNOTICE OF S...
10  Said premises known as 314 EAST 16TH STREET, B...
11  Pursuant to a Judgment of Foreclosure and Sale...
12  Said premises known as 372 ELTON STREET, BROOK...
13  Said premises may also be known as 385 Warwick...
14                    Said premises known as 5200 1ST
15  Said premises known as 9202 AVENUE K, BROOKLYN...
16  the Referee named in said\nJudgment, will sell...
17  Premises known as 9716 Farragut Road, Brooklyn...
18  Pursuant to a Judgment of Foreclosure and Sale...

#5.Data Cleaning as much as possible
###By showing the RAW result of foreclosure address, I realize that some data are not complete, for example row 14th in Foreclosure_list. What is more, there are many unneccesarry strings in the rows. it's necerracy to clean it as much as I can

In [206]:
from operator import index
#Fill the missing value of 14th rows in Foreclosure_list
row_14 = Foreclosure_list[14]
print(row_14)

missing_location = text.index("Said premises known as 5200 1ST")
print("Location of the missing address in text",missing_location)

passing = text[missing_location:missing_location+53]
Foreclosure_list[14] = passing
print("Complete the 14th row information in Foreclosure_list:", passing)


#Eliminate unneccesarry infomation after Spacy
Foreclosure_list_clean = []
for rows in Foreclosure_list:
  if "known" in str(rows):
    index_1 = str(rows).index("known")
    Foreclosure_list_clean.append([str(rows)[(index_1+len(pattern_1)):]])
  elif "described" in str(rows):
    index_2 = str(rows).index("described")
    Foreclosure_list_clean.append([str(rows)[(index_2+len(pattern_2)-12):]])
  else:
    continue
print(len(Foreclosure_list_clean))

Said premises known as 5200 1ST AVENUE, BROOKLYN, NY

Location of the missing address in text 19062
Complete the 14th row information in Foreclosure_list: Said premises known as 5200 1ST AVENUE, BROOKLYN, NY

19

#6.Combine all the lists of information and show

In [207]:
# Combine all the data into a single Pandas DataFrame.
df= pd.DataFrame()
df['Block'] = Block_list
df['Lot'] = Lot_list
df["Attorney_Information"] = Attorney_list
df["Foreclosure_Address"] = Foreclosure_list_clean
df.head(len(df))

,Block,Lot,Attorney_Information,Foreclosure_Address
0,Block 4415,Lot 1463,NO. 78 RECEIVED NYSCEF: 10/19/2022\nNOTICE OF ...,"[ 1019 Van Siclen Avenue Unit 9 7L, Brooklyn, ..."
1,Block 4112,Lot 92,"Mark A. Longo, Esq., Referee\nKnuckles, Komosi...","[ 102 Eldert Lane, Brooklyn, NY 11207.]"
2,Block 3921,Lot 2,"Michael Benjamin, Esq., Referee\nCapell, Barne...","[ 105-107 Barbey Street, Brooklyn, NY\n11207.]"
3,Block 8054,Lot 51,"Vallely Law PLLC, 6851 Jericho Turnpike, Suite...","[ 1122\nEast 89th Street, Brooklyn, NY 11236.]"
4,Block 3228,Lot 30,"Harvey Greenberg, Esq., Referee\n\nThe Law Off...","[ 1299 Myrtle Avenue, Brooklyn, NY.\n\n]"
5,Block 3403,Lot 16,"Dominic J. Famulari, Esq., Referee\nFriedman V...","[ 134 Weirfield Street, Byooklyn, NY 11224.]"
6,Block: 6579,Lot: 54,"Dominic Famulari, Esq., Referee\nLOGS Legal Gr...","[ 1397 West\n6th Street, Brooklyn, NY 11204.]"
7,BLOCK 1468,LOT 31,"Benjamin O. Okeke, Esq., Referee\n\nGross Polo...",[ 1551 EASTERN PARKWAY A/K/A 1551 EASTERN PARK...
8,Block 3554,Lot 38,"Joel Abramson, Esq., Referee\n\nLOGS Legal Gro...","[ 2044 Strauss\nStreet, Brooklyn, NY 11212.]"
9,Block: 1615,Lot: 24,"Helene Blank, Esq., Referee\nLOGS Legal Group ...","[ 300 Van\nBuren Street, Brooklyn, NY 11221.]"
10,Block\n5146,Lot 26‘on,"»\nDOMINIC FAMULARI, ESQ,, Referee\nPhillips L...","[ 314 EAST 16TH STREET, BROOKLYN,]"
11,Block 2072,Lot 27,"James Caffrey, Esq., Referee\nGlenn Rodney, PC...","[\n332 Myrtle Avenue, Brooklyn, NY 11205.]"
12,Block: 4001,Lot: 27,"|\nBRUNO CODISPOTI, ESQ., Referee\nKosterich &...","[ 372 ELTON STREET, BROOKLYN, NY !\n]"
13,Block 3999,Lot 9,"Gregory T. Cerchione, Esq., Referee\nThe Law O...","[ 385 Warwick\nStreet, Brooklyn, NY.]"
14,Block 803,Lot 9,"Index Number 6629/2005,\nMARK LONGO ESQ., Refe...","[ 5200 1ST AVENUE, BROOKLYN, NY\n]"
15,Block: 8238,Lot: 35,"RICHARD KLASS, ESQ., Referee .\nKosterich & Sk...","[ 9202 AVENUE K, BROOKLYN, NY\nApproximate amo..."
16,Block: 4754,Lot: 4,Brettanie L. Hart Saxton\nWoods Oviatt Gilman ...,"[9417 Avenue B\nBrooklyn, NY 11236\nSBL No.:]"
17,Block 8166,Lot 38,AS TRUSTEE FOR VELOCITY COMMERCIAL\nCAPITAL LO...,"[ 9716 Farragut Road, Brooklyn,\nNY 11236.]"
18,Block 8017,Lot 73,COVID-19 safety protocols will be\nfollowed at...,"[ 978 East 81st Street, Brooklyn, NY 11236.]"

In [208]:
#Save the data to csv
df.to_csv('/content/drive/MyDrive/result.csv')